h1{
font-family: montserrat;
}
header{
height: 10%;
margin-bottom: 0%;
text-align: center;
}
main{
height: 90%;
margin-bottom: 10%;
}
.imgShow {
width: 100%;
height: 100%;
margin-bottom: 3%;
}
#imagenPrincipal{
margin-top: 5%;
max-width: 100%;
max-height: 65%;
border-radius: 6px;
}
.thumb { 
width: 80px; 
height: 80px; 
object-fit: cover; 
margin-right: 10px; 
cursor: pointer;
border-radius: 3px;
}
.thumb:hover {
opacity: 0.7;
width: 85px;
height: 85px;
}
#imagenesSecundarias{ 
display: flex; 
justify-content: left; 
max-width: 100%;
margin-left: 5%;
margin-right: 5%;
margin-top: 20px;
white-space: nowrap;
overflow-x: scroll;
-webkit-overflow-scrolling: touch;
}
.results{
position: absolute;
left: 33%;
width: 35%;
height: 50%;
text-align: center;
}
.logo {
display: block;
margin-left: auto;
margin-right: auto;
max-width: 20%;
height: 20%;
}
.btn{
margin-bottom: 3%;
color: #fff;
background: #1f73e2;
border: none;
width: 100%;
height: 35px;
border-radius: 4px;
border-bottom: 4px solid #0b0d66;
transition: all .2s ease;
outline: none;
font-family: montserrat;
}
#return{
background: rgb(112, 109, 109);
border-bottom: 4px solid #363638;
}
#return:hover{
background: rgb(179, 178, 178);
}
button:hover{
background: #54a8ec;
color: #ffffff;
}